<p id="notice"><%= notice %></p>

<p>
  <strong>Cust name:</strong>
  <%= @order.cust_name %>
</p>

<p>
  <strong>Cust email:</strong>
  <%= @order.cust_email %>
</p>

<p>
  <strong>Fulfilled:</strong>
  <%= @order.fulfilled %>
</p>

<p>
  <strong>Submitted:</strong>
  <%= @order.submitted %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
